<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Btc copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Btc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8634746A1F08262000E7EB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>863474801F08262000E7EB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8634748B1F08262000E7EB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868F1A791F7D301E0093402A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
